<div class="modal fade" id="AddProcedureModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                <h4 class="modal-title"><strong>Add New</strong> Procedure</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sNewProcedure">Procedure Name:</label>
                                        <input class="form-control form-white" type="text" id="sNewProcedure">
                                    </div>
                                    <div class="form-group">
                                        <label for="sProcedureTypeDesc">Procedure Description:</label>
                                        <input class="form-control form-white" type="text" id="sProcedureTypeDesc">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-gray-light">
                <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-embossed" id="saveAddProcedure">Save changes</button>
            </div>
        </div>
    </div>
</div>
