<div class="row">
    <div class="col-xs-12">
        <div class="form-header">
            <div class="form-title form-icon title-icon-lock">
                <b>Confirm your</b> Information
            </div>
            <div class="steps">
                Steps 4 - 4
            </div>
        </div><!--/ .form-header-->
    </div>
</div><!--/ .row-->
<div id="field-summary"></div>
<div id="validation-summary">
    @Html.ValidationSummary(true)
    <table class="table table-bordered" style="width: 100%; border: 1px solid #69A8F3; border-collapse: collapse; line-height: 1.1em; color:black;font-size:11px">
        <tr>
            <td align="center" colspan="4" class="TD" style="background-color: #C1DBFA; width: 15%; border: thin solid #69A8F3; ">PERSONAL DETAILS</td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3; ">
                Name
            </td>
            <td colspan="3" style="border: thin solid #69A8F3">
                <div id="DisplayName"></div>
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                ID Type
            </td>
            <td style="border: thin solid #69A8F3">
                <div id="DisplayIDType"></div>
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                ID No
            </td>
            <td style="border: thin solid #69A8F3">
                <div id="DisplayICNo"></div>
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Date of Birth
            </td>
            <td style="border: thin solid #69A8F3">
                <div id="DisplayDOB"></div>
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Gender
            </td>
            <td style="border: thin solid #69A8F3">
                <div id="DisplayGender"></div>
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3; ">
                Address
            </td>
            <td colspan="3" style="border: thin solid #69A8F3">
                <div id="DisplayAddress"></div>
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                City
            </td>
            <td style="border: thin solid #69A8F3">
                <div id="DisplayCity"></div>
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Postcode
            </td>
            <td style="border: thin solid #69A8F3">
                <div id="DisplayPostcode"></div>
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                State
            </td>
            <td style="border: thin solid #69A8F3">
                <div id="DisplayState"></div>
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Country
            </td>
            <td style="border: thin solid #69A8F3">
                <div id="DisplayCountry"></div>
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Email
            </td>
            <td style="border: thin solid #69A8F3">
                <div id="DisplayEmail"></div>
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Tel No
            </td>
            <td style="border: thin solid #69A8F3">
                <div id="DisplayMobileNo"></div>
            </td>
        </tr>
    </table>
</div>
