@model OneCRS.MVC.Models.Sales.Project
<br /><br />
<div class="form-group">
    <label style="font-size:medium" for="">Selected Maximum Question for User</label>
    <input type="text" id="MAXselectedno" class="form-control form-white" value='@ViewBag.MAXselectedno' disabled />
</div>
<br />
@*<span id="ChallengeID"></span>*@
<div id="ChallengeTbl">
</div>


