@model OneCRS.MVC.Models.Admin.UpdateUser
<br />
<form id="UpdateOrgForm">
    <div id="updateOrgDetails">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Company</label>
                    <select class="form-control form-white" id="UpdateOrgName" name="UpdateOrgName" data-search="true"></select>
                </div>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-primary btn-blue" style="margin-top:20px" id="btnAddNewOrg"><i class="fa fa-plus"></i> ADD COMPANY</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Registration No</label>
                    <input type="text" class="form-control form-white" id="UpdateOrgRegNo" name="UpdateOrgRegNo" required data-parsley-group="block0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control form-white" id="UpdateOrgAddress" name="UpdateOrgAddress" required data-parsley-group="block0">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control form-white" id="UpdateOrgCountryID" name="UpdateOrgCountryID" data-search="true"></select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>State</label>
                    <select class="form-control form-white" id="UpdateOrgStateID" name="UpdateOrgStateID" data-search="true"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Postcode</label>
                    <input type="text" pattern="[0-9]*" maxlength="6" class="form-control form-white" id="UpdateOrgPostcode" name="UpdateOrgPostcode" required data-parsley-group="block0">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control form-white" id="UpdateOrgCity" name="UpdateOrgCity" required data-parsley-group="block0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Fax No</label>
                    <input type="text" class="form-control form-white" id="UpdateOrgFaxNo" name="UpdateOrgFaxNo" required data-parsley-group="block0">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Tel No</label>
                    <input type="text" class="form-control form-white" id="UpdateOrgTelNo" name="UpdateOrgTelNo" required data-parsley-group="block0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Project</label>
                    <select class="form-control form-white" id="UpdateProject" name="UpdateProject" data-search="true"></select>
                </div>
            </div>
        </div>
    </div>
    <div id="button2" style="text-align:right">
        <input type="button" class="btn btn-fb btn-embossed" value="UPDATE ORGANIZATION" data-loading-text="Loading..." id="btnOrgUpdate" />
    </div>
</form>
