<div class="modal fade" id="modalAPSelection" tabindex="-1" role="dialog" aria-hidden="true" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                <h4 class="modal-title"><strong>PROJECT</strong> Selection</h4>
            </div>
            <div class="modal-body">
                <form id="confirmForm">
                    <span id="msgerror" style="color:red"></span>
                    <div class="form-group">
                        <label style="font-size:13px">Select Project</label>
                        <select id="ProjectSelect" class="form-control form-white" name="ProjectSelect">
                            <option selected value="">Select Project</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-embossed" id="btnSelectConfirm" data-dismiss="modal">CONFIRM</button>
            </div>
        </div>
    </div>
</div>

