@model OneCRS.MVC.Models.InternalLogin
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AP Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="~/assets/global/images/favicon.png">
    <link href="~/assets/global/css/style.css" rel="stylesheet">
    <link href="~/assets/global/css/ui.css" rel="stylesheet">
    <link href="~/assets/global/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
</head>
<body class="sidebar-condensed account2" data-page="login">
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block">
        <i class="user-img icons-faces-users-03"></i>
        <div class="account-info">
            <a href="dashboard.html" @*class="logo"*@></a>
            <h3>Authorized Personnel (AP)</h3>
            <ul>
                <li><i class="icon-magic-wand"></i> Request & Renew Certificate</li>
                <li><i class="icon-layers"></i> Make Online Payment</li>
                <li><i class="icon-arrow-right"></i> Verify Application</li>
                <li><i class="icon-drop"></i> Track Customer Status</li>
            </ul>
        </div>
        <div class="account-form">
            <form id="loginap" class="form-signin" role="form">
                <h3><strong>Sign in</strong> to your account</h3>
                <span id="errormsg" style="color:red"></span><br />
                <div class="append-icon">
                    @*@Html.TextBoxFor(m => m.InternalUserID, new { @class = "form-control form-white username", @id = "internalid", placeholder = "UserID" })*@
                    <input type="text" name="InternalUserID" id="InternalUserID" class="form-control form-white username" placeholder="UserID" maxlength="16" required>
                    <i class="icon-user"></i>
                </div>
                <div class="append-icon m-b-20">
                    <input type="password" name="InternalPin" id="InternalPin" class="form-control form-white password" placeholder="Pin" required>
                    <i class="icon-lock"></i>
                </div>
                <button type="button" id="submit" class="btn btn-lg btn-embossed btn-dark ladda-button" data-style="expand-left">Login</button>
                <span class="forgot-password"><a id="password" href="account-forgot-password.html">Forgot Pin?</a></span>
                @*<div class="form-footer">
                        <div class="social-btn">
                            <button type="button" class="btn-fb btn btn-lg btn-block btn-square"><i class="fa fa-facebook pull-left"></i>Connect with Facebook</button>
                            <button type="button" class="btn btn-lg btn-block btn-blue btn-square"><i class="fa fa-twitter pull-left"></i>Login with Twitter</button>
                        </div>
                        <div class="clearfix">
                            <p class="new-here"><a href="user-signup-v2.html">New here? Sign up</a></p>
                        </div>
                    </div>*@
            </form>
            <form id="resetap" class="form-password" role="form">
                <h3><strong>Reset</strong> your PIN</h3>
                @*<span id="errorresetmsg" style="color:red"></span><br />*@
                <div class="append-icon m-b-20">
                    <input type="text" name="adminIcNo" id="adminIcNo" class="form-control form-white password" placeholder="IC No" required>
                    <i class="icon-lock"></i>
                </div>
                <div class="append-icon m-b-20">
                    <input type="text" name="adminEmail" id="adminEmail" class="form-control form-white password" placeholder="Email Address" required>
                    <i class="icon-envelope"></i>
                </div>
                <button type="submit" id="submit-password" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Send PIN Reset Link</button>
                <div class="clearfix m-t-60">
                    <p class="pull-left m-t-20 m-b-0"><a id="login" href="#">Have an account? Sign In</a></p>
                    @*<p class="pull-right m-t-20 m-b-0"><a href="user-signup2.html">New here? Sign up</a></p>*@
                </div>
            </form>
        </div>
        @Html.Partial("~/Views/Home/_APSelectionModal.cshtml")
        
    </div>
    <!-- END LOCKSCREEN BOX -->
    <p class="account-copyright">
        <span>Copyright © 2016 </span><span></span>.<span>All rights reserved.</span>
    </p>
    <script src="~/assets/global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/assets/global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/assets/global/plugins/gsap/main-gsap.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/global/plugins/backstretch/backstretch.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-loading/lada.min.js"></script>
    <script src="~/assets/global/plugins/bootbox/bootbox.min.js"></script>
    @*<script src="~/assets/global/js/pages/login-v2.js"></script>*@
    <script src="~/assets/admin/layout2/js/layout.js"></script>
    <script src="../ViewsScript/Account/APLogin.js"></script>
</body>
</html>
