@model OneCRS.MVC.Models.Admin.ManageDDCModel
<br />
<div class="row" style="margin-left:3px;margin-right:3px">
    <div class="form-group">
        <label class="control-label col-sm-2" for="UpdateModule">Module:</label>
        <div class="col-sm-4">
            <input type="text" readonly="readonly" class="form-control form-white" id="UpdateModule" name="UpdateModule">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="UpdateKeyData">Key Data:</label>
        <div class="col-sm-4">
            <input type="text" readonly="readonly" class="form-control form-white" id="UpdateKeyData" name="UpdateKeyData">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="UpdateValue">Value:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control form-white" id="UpdateValue" name="UpdateValue">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="UpdateKeyValue">Key Value:</label>
        <div class="col-sm-4">
            <input type="text" readonly="readonly" class="form-control form-white" id="UpdateKeyValue" name="UpdateKeyValue">
        </div>
    </div>
</div>



