<fieldset id="HidePINSetup" style="display:none;border-radius:10px">
    <legend>Certificate PIN Setup</legend>
    <div class="col-md-12 col-sm-12">
        <div style="margin-bottom:8px">
            <label><span style="color:red;font-size:18px">*</span> Enter PIN</label>
            <input type="password" id="CertPin" name="CertPin">
            <img src="../assets/tooltip/img/yellow_icon.png" id="ic-tooltip" style="width:20px;height:20px" />
        </div>
        <div style="margin-bottom:8px">
            <label><span style="color:red;font-size:18px">*</span> Confirm PIN</label>
            <input type="password" id="ConfirmCertPin" name="ConfirmCertPin">
        </div>
    </div>
</fieldset>
