
<table id="DocumentTbl" class="table table-bordered" style="width: 750px; border: 1px solid #69A8F3; border-collapse: collapse; line-height: 1.1em; color:black;font-size:11px">
    <tr>
        <td align="center" colspan="4" class="TD" style="background-color: #C1DBFA; width: 15%; border: thin solid #69A8F3; ">SUPPORTING DOCUMENT</td>
    </tr>
    <tr id="ICTbl" style="display:none">
        <td class="TD" style="background-color: #ebf6f5; width: 23%; border: thin solid #69A8F3; ">
            Upload NRIC/Passport <span id="icTerms" style="color: red; display: block">(Both sides)</span>
        </td>
        <td colspan="3" style="border: thin solid #69A8F3">
            <div class="form-group" id="HideUpload">
                <div >
                    <input type="file" id="nricUploadFile" name="UploadNRIC">
                </div>
            </div>
            <div id="HideExist">
                <span style="color:red;font-size:14px;cursor:pointer" id="btnUploadNewIC">Your NRIC/Passport Document already Exist (Click Here to Upload NEW)</span>
                <div id="NRICGridTbl"></div>
            </div>
        </td>
    </tr>
    <tr id="ALTbl" style="display:none">
        <td class="TD" style="background-color: #ebf6f5; width: 23%; border: thin solid #69A8F3; ">
            Upload Company Authorization Letter
        </td>
        <td colspan="3" style="border: thin solid #69A8F3">
            <div class="form-group">
                <div>
                    <input type="file" name="UploadFile" id="authUploadFile" />
                </div>
            </div>
            <br />
        </td>
    </tr>
    <tr id="SSMTbl" style="display:none">
        <td class="TD" style="background-color: #ebf6f5; width: 23%; border: thin solid #69A8F3; ">
            Upload SSM
        </td>
        <td colspan="3" style="border: thin solid #69A8F3">
            <div class="form-group">
                <div>
                    <input type="file" name="UploadFile" id="SSMUploadFile" />
                </div>
            </div>
        </td>
    </tr>
    <tr id="RegSlipTbl" style="display:none">
        <td class="TD" style="background-color: #ebf6f5; width: 23%; border: thin solid #69A8F3; ">
            Upload Registration Slip / Email
        </td>
        <td colspan="3" style="border: thin solid #69A8F3">
            <div class="form-group">
                <div>
                    <input type="file" name="UploadFile" id="RegSlipUploadFile" />
                </div>
            </div>
        </td>
    </tr>
    <tr id="PictureTbl" style="display:none">
        <td class="TD" style="background-color: #ebf6f5; width: 23%; border: thin solid #69A8F3; ">
            Upload Picture
        </td>
        <td colspan="3" style="border: thin solid #69A8F3">
            <div class="form-group">
                <div>
                    <input type="file" name="UploadFile" id="PictureUploadFile" />
                </div>
            </div>
        </td>
    </tr>
    <tr id="PaySlipTbl" style="display:none">
        <td class="TD" style="background-color: #ebf6f5; width: 23%; border: thin solid #69A8F3; ">
            Upload Payment Slip
        </td>
        <td colspan="3" style="border: thin solid #69A8F3">
            <div class="form-group">
                <div>
                    <input type="file" name="UploadFile" id="PaySlipUploadFile" />
                </div>
            </div>
        </td>
    </tr>
</table>

