<div class="modal fade" id="AddNewPINModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                <h4 class="modal-title"><strong>Enter </strong> NEW Pin</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="sNewPin">PIN:</label>
                                        <input style="color:black;font-size:18px" class="form-control form-white" type="password" id="sNewPin">
                                    </div>
                                    <div class="form-group">
                                        <label for="sNewConfirmPin">Confirm PIN:</label>
                                        <input style="color:black;font-size:18px" class="form-control form-white" type="password" id="sNewConfirmPin">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-gray-light">
                <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-blue btn-embossed" id="btnTokenUnblock">Submit</button>
            </div>
        </div>
    </div>
</div>
