@model OneCRS.MVC.Models.Certificate.PublicRequestCert
<div class="row">
    <div class="col-xs-12">
        <div class="form-header">
            <div class="form-title form-icon title-icon-lock">
                <b>Make Payment</b> and Validate Information
            </div>
            <div class="steps">
                Steps 4 - 4
            </div>
        </div>
    </div>
</div>
